@import '../_mcommon';


.page{
	margin: 0;
    height: 100%;
	padding-top: rem(40px);
    overflow: hidden;
	.header{
		margin: auto;
        width: 90%;
		height: rem(30px);
    	color: #444;
    	font-family: "Avenir Next","Avenir","Helvetica Neue",sans-serif;
    	text-transform: uppercase;
    	text-decoration: none;
		overflow: hidden;
	}
    .footer{
        margin-top: rem(30px);
		width: 100%;
		padding: rem(10px) 0 rem(20px);
    	text-align: center;
    	border-top: 1px solid #eee;
    	color: #999;
    	font-size: rem(18px);
    	font-family: "Optima","Helvetica Neue",sans-serif;
    }
}

.header{
	.logo,
    .brand,
	.nav-home,
	.nav-about{
		height: rem(30px);
		position: relative;
		display: inline-block;
		line-height: rem(30px);
	}
	.logo{
		float: left;
		width: rem(30px);
		height: rem(30px);
		border-radius: 50%;
	}
	.brand{
		margin-left: rem(10px);
		float: left;
		font-size: rem(28px);
		font-weight: 400;
	}
	.nav-home,
	.nav-about{
		width: rem(70px);
		margin-left: rem(10px);
		float: right;
		font-size: rem(20px);
		cursor: pointer;
	}
	.nav-home{
		opacity: 0.1;
	}
}

.profile{
    margin-left: 12%;
    margin-top: rem(80px);
    width: 80%;
    height: auto;
    overflow: hidden;
    .detail{
        margin-bottom: rem(40px);
        font-size: rem(24px);
        line-height: rem(36px);
        font-family: "Lora","Xin Gothic","PingFang SC","Hiragino Sans GB","Droid Sans Fallback","Microsoft YaHei",sans-serif;
        color: #444443;
    }
    p{
        display: inline-block;
        margin: 0 rem(5px);
    }
    .items{
        padding-top: 0;
        margin: 0;
        .item{
            font-size: rem(24px);
            line-height: rem(40px);
            font-family: "Lora","Xin Gothic","PingFang SC","Hiragino Sans GB","Droid Sans Fallback","Microsoft YaHei",sans-serif;
            color: #444443;
        }
    }
    .skill{
        margin-bottom: rem(15px);
        font-size: rem(24px);
    }
    .state,
    .shadow{
        font-size: rem(20px);
    }
    .shadow{
        margin-bottom: rem(20px);
    }
}
