@charset "utf-8";
@function rem($px) {
    @return ($px / 100) + rem;
}
html {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: rem(64000);
    margin: 0 auto;
    min-height: 100%;
}

table {
    border-collapse: collapse;
    th,
    td {
        padding: 0;
    }
}

body {
    font-family: 'Microsoft Yahei', Helvetica, sans-serif;
    min-height: 100%;
    background-color: #fff;
    margin: 0 auto;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

button,
input {
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
}

button:disabled,
input[type='button']:disabled {
    color: #666 !important;
    background-color: #ddd !important;
}

input {
    // http://stackoverflow.com/questions/3062968/remove-textarea-inner-shadow-on-mobile-safari-iphone
    -webkit-appearance: none;
}
